@inherits LayoutComponentBase

<div class="container-fluid">
    <header class="py-3 mb-3 border-bottom">
        <div class="container d-flex align-items-center">
            <h1 class="fs-4 mb-0">🏇 Horse Racing Game</h1>
        </div>
    </header>

    <main class="container">
        @Body
    </main>
</div>
